.cartBackDrop {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}
.cartContainer {
  width: 40%;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
}
.cartSummary {
  width: 100%;
  /* height: 8rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.labelName {
  font-size: 2.6rem;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.button {
  width: 10rem;
  height: 3.5rem;
  font-size: 1.7rem;
  background-color: rgb(196, 28, 62);
  color: rgb(255, 255, 255);
  border-radius: 100px;
  border: none;
  margin-left: 0.5rem;
  margin-top: 10px;
}
.totalAmount {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonContainer {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
